@import "public.css";

.login-ul {
    list-style: none;
    margin-top: 60px;
    font-size: 1.5em;
}

.login-ul li {
    display: block;
    margin-right: 40px;
    float: left;
}

.login-ul li img{
    margin-right: 10px;
    width: 48px;
}
.login-box, .activate-box, .change-password-box {
    padding: 20px;
}

.login-box .control-group,.activate-box .control-group,.change-password-box .control-group {
    margin-bottom: 19px;
}

.activate-box, .change-password-box {
    position: relative;
}

.password-indicator {
    float: right;
    position: absolute;
    left:400px;
    top:20px;
}

.password-indicator .back-bar {
    background-color: #eee;
    height: 10px;
    width: 210px;
}

.password-indicator .front-bar {
    height: 10px;
    width: 0px;
    position: relative;
    top:-10px;
}

.change-password-box .password-indicator {
    top:64px;
}

.login-box-rememberme {
    vertical-align: middle;
    display: inline-block;
    margin-left: 130px;
}

.input-width-std {
    width: 260px;
}

.avatar-result {
    width: 100%;
    min-height: 302px;
    border: 1px solid #D7D7D7;
}

.avatar-preview {
    width: 100px;
    height: 100px;
    border: 1px solid #D7D7D7;
    overflow: hidden;
}

.avatar-preview img {
    max-width: none;
    vertical-align: inherit;
}

.user-list {
    width: 100%;
    height: 400px;
    border: 1px solid #D7D7D7;
    overflow: auto;
}

.user-info {
    padding: 20px 0 0 20px;
    float: left;
}

.user-info p {
    margin: 5px 0;
}

.work-type {
    font-size: 1.5em;
    width:300px;
    height: 1.2em;
    float: left;
    margin: 5px;
    cursor: pointer;
    word-break: break-all;
}

.work-type a {
    margin-left: 10px;
}

.function-list {
    position: fixed;
    height: 500px;
    width: 100px;
}

.function-content {

}

.function-context-bar {

}

.f-item {
    margin: 0 14px;
    height: 68px;
    position: relative;
}

.f-item-active-line {
    position: absolute;
    top: 22px;
    right: -9px;
    display: inline-block;
    border-top: 12px solid transparent;
    border-right: 12px solid #ccc;
    border-bottom: 12px solid transparent;
    border-right-color: rgba(0, 0, 0, 0.2);
}

.f-item-active-color {
    position: absolute;
    top: 23px;
    right: -10px;
    display: inline-block;
    border-top: 11px solid transparent;
    border-right: 11px solid #ffffff;
    border-bottom: 11px solid transparent;
}

.f-link,.f-link:hover,f-link:active {
    display: block;
    height: 64px;
    text-decoration: none;
    vertical-align: middle;
}

.f-link-wrapper {
    cursor: pointer;
    padding: 15px 0 6px 0;
}

.f-link-text {
    font-size: 11px;
    margin-top: 3px;
    overflow: hidden;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.edit-log, .edit-log-active, .view-log, .view-log-active {
    background:transparent url("../imgs/team-star.png") no-repeat;
    width: 32px;
    height: 32px;
    margin: 0 auto;
}

.edit-log {
    background-position: left top;
}
.edit-log-active {
    background-position: 0 -32px;
}
.view-log {
    background-position: 0 -64px;
}
.view-log-active {
    background-position: 0px -96px;
}

.tag-selection-ul {
    list-style: none;
    border: 1px solid #eee;
    overflow-y: auto;
    height: 400px;
}

.tag-selection-ul>li {
    padding: 10px;
    display: block;
    font-size: 1.2em;
}

.tag-selection-ul>li:nth-child(odd) {
    background-color: #f9f9f9;
}

.tag-selection-ul>li>span {
    display: block;
    float: right;
    cursor: pointer;
}

