@import "public.css";

body {
    background: #F1F1F1;
}

.header{
    border-bottom: none;
    width: 100%;
    padding: 0 14px;
    position: fixed;
    z-index: 1000;
}

.header-content {
    position: absolute;
    right: 40px;
    top:4px;
}
.f-header-padding {
    height: 51px;
}

.f-main{
    border-top: 0;
    clear: both;
    margin-top: 0;
    min-height: 100%;
    min-width: 960px;
    position: relative;
    width: 100%;
    padding-bottom: 40px;
}

.footer {
    border-top: none;
}

.f-box {
    -webkit-border-radius: 0 0 5px 5px;
    -moz-border-radius: 0 0 5px 5px;
    border-radius: 0 0 5px 5px;
    background-color: white;
    border: 1px solid #D7D7D7;
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    margin: 0 252px 40px 100px;
}

.function-list {

    bottom: auto;
    height: 100%;
    top: auto;
    position: fixed;
    width: 100px;
}

.f-content {
    overflow: hidden;
}

.f-content-inner {
    margin: 0 252px 0 100px;
    width: auto;
    min-width: 610px;
    position: relative;
}

.f-scroll-indicator {
    -webkit-mask-box-image: -webkit-linear-gradient(left,transparent 0%,rgba(0,0,0,.8) 50%,transparent 100%);
    background-color: transparent;
    background-image: -webkit-linear-gradient(top,rgba(0, 0, 0, .2),transparent);
    background-image: -moz-linear-gradient(top,rgba(0, 0, 0, .2),transparent);
    background-image: -ms-linear-gradient(top,rgba(0, 0, 0, .2),transparent);
    background-image: -o-linear-gradient(top,rgba(0, 0, 0, .2),transparent);
    background-image: linear-gradient(top,rgba(0, 0, 0, .2),transparent);
    border-top: 1px solid rgba(0, 0, 0, 0.4);
    height: 8px;
    left: 100px;
    margin: -1px 0 -9px 0;
    opacity: 0;
    position: fixed;
    right: 0;
    z-index: 100;
}

.f-top-line {
    right: 253px;
    left: 101px;
    position: fixed;
    border-bottom: 1px solid #D7D7D7;
    /*margin: -1px 0 0;*/
    z-index: 1000;
}

.f-left-corner {
    height: 5px;
    overflow: hidden;
    position: absolute;
    width: 5px;
    left: -1px;
}

.f-left-corner-1 {
    position: absolute;
    top: -5px;
    border-top: 6px solid #F1F1F1;
    width: 10px;
    height: 10px;
    webkit-border-radius: 10px 0 0 0;
    -moz-border-radius: 10px 0 0 0;
    border-radius: 10px 0 0 0;
    border-left: 6px solid #F1F1F1;
    left: -5px;
}

.f-left-corner-2 {
    position: absolute;
    top: 0;
    border-top: 1px solid #D7D7D7;
    width: 5px;
    height: 5px;
    -webkit-border-radius: 5px 0 0 0;
    -moz-border-radius: 5px 0 0 0;
    border-radius: 5px 0 0 0;
    border-left: 1px solid #D7D7D7;
    left: 0;
}

.f-right-corner {
    height: 5px;
    overflow: hidden;
    position: absolute;
    width: 5px;
    right: -1px;
}

.f-right-corner-1 {
    position: absolute;
    top: -5px;
    border-top: 6px solid #F1F1F1;
    width: 10px;
    height: 10px;
    -webkit-border-radius: 0 10px 0 0;
    -moz-border-radius: 0 10px 0 0;
    border-radius: 0 10px 0 0;
    border-right: 6px solid #F1F1F1;
    right: -5px;
}

.f-right-corner-2 {
    position: absolute;
    top: 0;
    border-top: 1px solid #D7D7D7;
    width: 5px;
    height: 5px;
    -webkit-border-radius: 0 5px 0 0;
    -moz-border-radius: 0 5px 0 0;
    border-radius: 0 5px 0 0;
    border-right: 1px solid #D7D7D7;
    right: 0;
}

.function-context-bar {
    position: fixed;
    top:51px;
    right: 15px;
    bottom: 15px;
    width: 200px;
    background: white;
    border: 1px solid #d7d7d7;
    padding: 10px;
}

.f-item {
    margin: 0 14px;
    height: 68px;
    position: relative;
}

.f-item-active-line {
    position: absolute;
    top: 22px;
    right: -15px;
    display: inline-block;
    border-top: 12px solid transparent;
    border-right: 12px solid #D7D7D7;
    border-bottom: 12px solid transparent;
}

.f-item-active-color {
    position: absolute;
    top: 23px;
    right: -16px;
    display: inline-block;
    border-top: 11px solid transparent;
    border-right: 11px solid #ffffff;
    border-bottom: 11px solid transparent;
    z-index: 10000;
}

.f-link,.f-link:hover,f-link:active {
    display: block;
    height: 64px;
    text-decoration: none;
    vertical-align: middle;
}


.f-link-wrapper {
    cursor: pointer;
    padding: 15px 0 6px 0;
}

.f-link-text {
    font-size: 11px;
    margin-top: 3px;
    overflow: hidden;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.active {
    font-size: 1.2em;
    color: #555;
}

.edit-log, .edit-log-active, .view-log, .view-log-active {
    background:transparent url("../imgs/team-star.png") no-repeat;
    width: 32px;
    height: 32px;
    margin: 0 auto;
}

.edit-log {
    background-position: left top;
}
.edit-log-active {
    background-position: 0 -32px;
}
.view-log {
    background-position: 0 -64px;
}
.view-log-active {
    background-position: 0px -96px;
}

.f-sub-header {
    padding-bottom: 10px;
    margin: 4px 0 16px 0;
    border-bottom: 1px solid #EEE;
}

.f-ul {
    list-style: none;
}

.f-ul li {
    margin-top: 10px;
    padding: 3px;
}

.f-ul .active {
    background-color: #efefef;
}

.f-ul input {
    float: right;
    margin-right: 10px;
}

.popover {
    position: fixed;
}
.log-list {
    margin: 20px;
}

.log-list ul {
    list-style:none;
    margin-bottom: 20px;
}

.log-list img {
    position: absolute;
}

.log-main {
    margin: 20px 0 0 100px;
    position: relative;
}

.log-main-content {
    margin: 10px 0;
    font-size: 1.2em;
}

.log-main-icons {
    position: absolute;
    right: 20px;
    bottom: 5px;
}

.log-main-icons span {
    cursor: pointer;
}

.log-main-indicator {
    width: 240px;
    height:10px;
    position: absolute;
    right: 20px;
    top:5px;
}

.log-main-indicator-back {
    width: 100%;
    height: 100%;
    background-color: #f1f1f1;
}

.log-main-indicator-front {
    background-color: #d7d7d7;
    width: 40px;
    height: 100%;
    margin-left: 140px;
}

.log-main-comments {
    margin: 20px 20px 20px 100px;
}

.log-main-comment {
    margin: 8px 0 0 40px;
    position: relative;
    font-size: 0.9em;
}

.log-main-comment-content {
    margin: 8px 0;
}

.log-main-post {
    padding: 8px;
    color: #D7D7D7;
    cursor: text;
    border: 1px solid #D7D7D7;
}

.log-main-post-form {
    position: relative;
}

.log-main-post-form img {
    position: absolute;
    left:0px;
}

.log-main-post-form>div {
    margin-left: 50px;
}

#work-log-reports p {
    font-size: 1.2em;
    font-weight: bold;
    margin: 20px 0;
}

.msg-box {
    background-color: #F9EDBE;
    padding: 5px 10px;
    border: 1px solid #F0C36D;
    border-radius: 2px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    color: #222;
    font-size: 87.5%;
    font-weight: bold;
    text-align: center;

    position: relative;
    top: -40px;
    margin: 10px auto;
    width: 400px;
}

.msg-box .close {
    margin-right: 10px;
    font-size: 16px;
}

.msg-error-box {
    background-color: #f9b6b3;
    border-color: #f07c68;
}

.h-scroll-bar {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}
